@{
    ViewBag.Title = "Home Page";
}

<h1>Welcome to Our Secret System</h1>

<p class="lead">Please register or login to access the system.</p>
<a href="/Account/Register" class="btn btn-primary btn-large">Register</a>
<a href="/Account/Login" class="btn btn-primary btn-large">Login</a>
