@model List<AjaxMVCDemos.Models.BookViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    <div>
        <strong>
            @Model[i].Title
        </strong>
    </div>
    @Ajax.ActionLink("See content", "ContentById", "Books", new { id = Model[i].Id },
        new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "book-content"
            })
    
    <br />
}

<div id="book-content"></div>
