@{
    ViewBag.Title = "JQuery AJAX";
}

<h2>@ViewBag.Title</h2>
<div id="timeDisplay"></div>
<a onclick="getServerTime()" href="#" class="btn btn-primary">Get server time</a>
<script>
    function getServerTime() {
        $("#timeDisplay").html("Loading...");
        $("#timeDisplay").load("/Home/ServerTime");
    }
</script>