@using System.Globalization
<div style="outline: 3px solid black; padding: 10px;">
    <h3>I am a child action</h3>
    <h3>My time is: @DateTime.Now.ToString(CultureInfo.InvariantCulture)</h3>
    <h3>My number is: @GlobalCounter.Next()</h3>
</div>
