@{
    ViewBag.Title = "Home";
}

<h2>HTML Escaping and Cross Site Scripting (XSS) - Demos</h2>
<ul>
    <li><a href="/XSS-Web-Forms.aspx">XSS Example (Web Forms)</a></li>
    <li><a href="/Home/XSS-MVC">XSS Example (MVC)</a></li>
    <li><a href="/Home/XSS-MVC?someInput=%3Cscript%3Ealert(%27XSS%27)%3B%3C%2Fscript%3E">Potentially dangerous query string (MVC)</a></li>
</ul>
