@{
    ViewBag.Title = "Home Page";  
}

<div class="hero-unit">
    <h2>Messaging System</h2>
    <p>Please login to view your messages.</p>
    <p>
        <a href="/Account/Register" class="btn btn-primary btn-large">Register</a>
        <a href="/Account/Login" class="btn btn-primary btn-large">Login</a>
        <a href="/Messages" class="btn btn-primary btn-large">View Messages</a>
    </p>
</div>
