@using KendoForMVCDemos.Areas.Administration.ViewModels;
@{
    ViewBag.Title = "Index";
}

<h2>Books</h2>

@(Html.Kendo()
    .Grid<DetailedBookViewModel>()
    .Name("grid-books")
    .Columns(columns =>
    {
        columns.Bound(model => model.Title);
        columns.Bound(model => model.Content).Title("Contentche");
        columns.Bound(model => model.Author).Visible(false);
        columns.Bound(model => model.CategoryName).Sortable(false);
        columns.Command(command =>
            {
                command.Edit();
                command.Destroy();
            });
    })
    .ToolBar(tool =>
        {
            tool.Create();
        })
    .Pageable(page =>
        {
            page.PreviousNext(true);
            page.Numeric(true);
        })
    .Sortable(sort =>
        {
            sort.AllowUnsort(false);
            sort.SortMode(GridSortMode.SingleColumn);
        })
    .Groupable()
    .Filterable()
    .Resizable(resize => resize.Columns(true))
    .Navigatable()
    .Editable(edit =>
        {
            edit.Mode(GridEditMode.PopUp);
        })
    .Selectable(select => select.Mode(GridSelectionMode.Multiple).Type(GridSelectionType.Cell))
    .Events(ev =>
        {
            ev.Change("selectRow");
        })
    .DataSource(data =>
    {
        data.Ajax()
            .Model(m => m.Id(b => b.Id))
            .PageSize(10)
            .ServerOperation(true)
            .Events(ev => ev.Error("errorAlert"))
            .Create("CreateBook", "Books")
            .Read("ReadBooks", "Books")
            .Update("UpdateBook", "Books")
            .Destroy("DeleteBook", "Books");
    }))

<div id="selected">

</div>

<script>
    function selectRow()
    {
        var selected = $.map(this.select(), function (item) {
            return $(item).text();
        });

        $('#selected').text(selected);
    }

    function errorAlert() {
        console.log("An error ocurred");
    }
</script>