@model IEnumerable<AjaxMVCDemos.Models.BookViewModel>

@foreach(var book in Model)
{
    <div>
        <strong>
            @book.Title
        </strong>
    </div>
    @Ajax.ActionLink("See content", "ContentById", "Books", new { id = book.Id },
        new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "book-content"
            })
    
    <br />
}

<div id="book-content"></div>
