@{
    ViewBag.Title = "Home";
}

<h2>HTML Escaping and Cross Site Scripting (XSS) - Demos</h2>
<ul>
    <li><a href="/XSS-Web-Forms.aspx">XSS Example (Web Forms)</a></li>
    <li><a href="/Home/XSS-MVC">XSS Example (MVC)</a></li>
</ul>
