@model WorkingWithDataMvc.Models.IndexViewModel

Index Model
<div>
    @Html.DisplayFor(m => m.Text)
</div>

<div>
    @Html.DisplayFor(m => m.Number)
</div>

<div>
    @Html.DisplayFor(m => m.Date)
</div>

