@{
    ViewBag.Title = "Raw AJAX";
}

<h2>@ViewBag.Title</h2>
<div id="timeDisplay"></div>
<a onclick="getServerTime()" href="#" class="btn btn-primary">Get server time</a>
<script>
    function getServerTime() {
        var timeDiv = document.getElementById("timeDisplay");
        timeDiv.innerHTML = "Loading...";

        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Home/ServerTime", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                if (xhr.status == "200") {
                    var timeDiv = document.getElementById("timeDisplay");
                    timeDiv.innerHTML = xhr.responseText;
                }
            }
        }
        xhr.send();
    }
</script>