@model IEnumerable<WebApplicationMvcGlimpse.Models.Product>
@{
    var selectList = Model.Select(x => new SelectListItem()
    {
        Selected = false,
        Text = x.Name,
    });
}
@using (Html.BeginForm("ByUsername", "Users", FormMethod.Post))
{
    <p>@Html.DropDownList("categories", selectList)</p>
}